*.[od]
*.sol
*.desktop
/locale
/neverball
/neverputt
/mapc
/contrib/curve

/.version
/share/version.h

*.bak
*.autosave.map

/neverball.exe
/neverputt.exe
/mapc.exe
/contrib/curve.exe
/*.dll

# Android build artifacts
android/.gradle
android/app/.externalNativeBuild
android/app/build
android/app/jni/*
!android/app/jni/Android.mk
